*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    color: white;
    background-image: linear-gradient(#002244,#0047AB);
    padding: 30px;
}

.header h1{
    font-size: 50px;
    
}

.header p{
    float: right;
    font-size: 25px;
}

.topnav{
    background-color: #007FFF;
    padding: 20px;   
}

.topnav a{
    color: white;
}