*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    color: white;
    background-image: linear-gradient( #002D62,#081829);
    padding: 30px;
}

.header h1{
    font-size: 50px;
    position: relative;
    left: 86px;
}

.header p{
    float: right;
    font-size: 25px;
    position: relative;
    bottom: 35px;
    right: 150px;
}

.topnav{
    background-color: #0066b2;
    padding: 30px;   
}

.topnav a{
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 80px;
    bottom: 15px;
}

.topnav p{
    float: right;
}

.row{
    display: flex;
    background-image: linear-gradient(#081829,#002D62,#2E5090);
    padding: 159px;
}

.column.side{
    border-radius: 15px;
    color: white;
    position: relative;
    bottom: 135px;
    left: 60px;
    background-color: #0066b2;
    padding: 10px;
    width: 250px;
    height: 365px;
    
}
.column.side ul{
    color: white;
    list-style-type: none;
}

.column.side ul li{
    color: white;
    padding: 6px;
    margin: 4px;
    font-size: 16px;
}