*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    color: white;
    background-image: linear-gradient( #002D62,#081829);
    padding: 30px;
}

.header h1{
    font-size: 50px;
    position: relative;
    left: 120px;
}

.header p{
    float: right;
    font-size: 25px;
    position: relative;
    bottom: 35px;
    right: 150px;
}

.topnav{
    background-color: #0066b2;
    padding: 30px;   
}

.topnav a{
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 120px;
    bottom: 15px;
}

.topnav p{
    float: right;
}

.row{
    display: flex;
    background-image: linear-gradient(#081829,#002D62,#2E5090);
    padding: 100px;
    margin: auto;
}

.column.side{
    border-radius: 15px;
    color: white;
    position: relative;
    bottom: 55px;
    left: 90px;
    background-color: #0066b2;
    padding: 10px;
    width: 250px;
    height: 405px;
    
}
.column.side ul{
    color: white;
    list-style-type: none;
}

.column.side ul li{
    color: white;
    padding: 9px;
    margin: 4px;
    font-size: 16px;
}

.main{
    flex: 15%;
    margin-right: 280px;
    border: 5px solid #0066b2;
    border-radius: 8px;
    position: relative;
    bottom: 55px;
    left: 100px;
    background-color: white;
    padding-bottom: 28px;  
    padding-left: 15px;
    padding-top: 10px;
    line-height: 1.5;
     
}

.main h3{
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 9px;
}

.main p{
    background-color: #0066b2;
    color: white;
    padding: 7px;
    margin-bottom: 7px;
    margin-right: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    text-align: center;
    padding: 5px;
    border: 1px dotted black;
    margin-right: 14px;
}